# Build artifacts
nodeiq/android/.gradle/
nodeiq/android/build/
nodeiq/android/app/build/
nodeiq-android/android/.gradle/
nodeiq-android/android/build/
nodeiq-android/android/app/build/
nodeiq-android/broker-api/obj/
nodeiq-android/broker-api/bin/
nodeiq/rust/**/target/
nodeiq/.e2e-logs/
nodeiq/broker/certs/*.csr
nodeiq/broker/certs/*.srl
_codeql_detected_source_root
